# Application of final model for Pickle file creation

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
fraud_ml= pd.read_csv('C:/Users/HARESH/Downloads/Final project/Fraud_data_final_new.csv')

In [3]:
fraud_ml.shape

(1484540, 17)

In [4]:
fraud_ml.head()

,Unnamed: 0,Area_Service,Age,Gender,Cultural_group,ethnicity,Admission_type,Home or self care,ccs_procedure_code,Mortality risk,Surg_Description,Weight_baby,Emergency dept_yes/No,Tot_charg,ratio_of_total_costs_to_total_charges,Payment_Typology,Result
0,0,6,3,0,2,0,3,7,0,1.0,0,0,1,5511.95,1.012798,1,1
1,1,6,5,0,2,0,2,17,0,2.0,0,0,1,4783.20,1.079365,1,1
2,2,6,3,0,2,0,2,7,0,1.0,0,0,1,3829.15,1.059379,1,1
3,3,6,1,0,2,0,2,7,0,1.0,0,0,1,1108.20,1.484167,1,0
4,4,6,5,0,2,0,3,7,0,3.0,0,0,1,3418.18,0.986161,1,1

In [5]:
fraud_ml=fraud_ml.rename({'Home or self care,':'Home_care'},axis=1)
fraud_ml=fraud_ml.rename({'Mortality risk':'Mortality_risk'},axis=1)
fraud_ml=fraud_ml.rename({'Emergency dept_yes/No':'Emergency_dept_yes_No'},axis=1)

In [6]:
fraud_ml=fraud_ml.drop(['Unnamed: 0'],axis=1)
fraud_ml

,Area_Service,Age,Gender,Cultural_group,ethnicity,Admission_type,Home or self care,ccs_procedure_code,Mortality_risk,Surg_Description,Weight_baby,Emergency_dept_yes_No,Tot_charg,ratio_of_total_costs_to_total_charges,Payment_Typology,Result
0,6,3,0,2,0,3,7,0,1.0,0,0,1,5511.95,1.012798,1,1
1,6,5,0,2,0,2,17,0,2.0,0,0,1,4783.20,1.079365,1,1
2,6,3,0,2,0,2,7,0,1.0,0,0,1,3829.15,1.059379,1,1
3,6,1,0,2,0,2,7,0,1.0,0,0,1,1108.20,1.484167,1,0
4,6,5,0,2,0,3,7,0,3.0,0,0,1,3418.18,0.986161,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1484535,1,1,1,2,0,1,8,2,1.0,1,0,1,30925.50,0.327142,2,0
1484536,6,3,1,2,0,3,7,224,3.0,0,0,0,15411.49,0.697805,2,0
1484537,6,5,1,2,0,1,18,0,3.0,0,0,1,9153.02,0.450387,2,0
1484538,2,5,0,2,0,1,18,193,3.0,0,0,1,18450.13,0.633075,2,0
1484539,1,2,0,2,0,3,7,136,1.0,0,0,0,6758.38,0.747289,3,0

In [7]:
x_res = fraud_ml.drop(['Result'], axis=1)
y_res = fraud_ml['Result']

In [8]:
from sklearn.ensemble import RandomForestClassifier as RF
model = RF(n_jobs=2, random_state=40)
model.fit(x_res,y_res)

RandomForestClassifier(n_jobs=2, random_state=40)

In [9]:
##  create a pickle file using serialization
import pickle
pickle_out=open("model_pkl.pkl","wb")
pickle.dump(model,pickle_out)
pickle_out.close()